<div id="main" class="main_container">
	<div id="main_title">
		<div id="main_controls">
			<ul>
				<li><span>Home</span></li>
				<li><a href="#/chat">Chat</a></li> 
				<li><a href="/#/settings">Settings</a></li>
				<li><a href="/logout">Logout</a></li>
			</ul>
		</div>
		<div id="main_info">
			<h1>Welcome, <span class="username">{{ userName }}</span></h1>
		</div>
	</div>
	<div id="main_content">
		Please report any bugs to <a href="mailto:alex@snakebyte.net">alex@snakebyte.net</a>
	</div>
</div>
