body, html {
  background-color: #000000;
}
#viewport div.main_container, #viewport form.main_container {
  background-color: #333;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  color: #ffffff;
  margin: 20px;
  padding: 20px;
}
#viewport div.main_container h1, #viewport form.main_container h1 {
  text-align: center;
  margin: 0;
  color: #B18A27;
  padding: 10px;
}
#viewport div.main_container h2, #viewport form.main_container h2 {
  text-align: center;
}
#viewport div.main_container fieldset,
#viewport form.main_container fieldset {
  text-align: center;
}
#viewport div.main_container fieldset input,
#viewport form.main_container fieldset input {
  margin-right: 7px;
  margin-left: 7px;
}
#viewport div.main_container fieldset input[type="password"],
#viewport div.main_container fieldset input[type="text"],
#viewport form.main_container fieldset input[type="password"],
#viewport form.main_container fieldset input[type="text"] {
  margin-bottom: 20px;
}
#viewport div.main_container fieldset input[type="button"],
#viewport div.main_container fieldset input[type="submit"],
#viewport form.main_container fieldset input[type="button"],
#viewport form.main_container fieldset input[type="submit"] {
  width: 90px;
}
#viewport div.main_container fieldset input[type="submit"],
#viewport form.main_container fieldset input[type="submit"] {
  font-weight: bold;
}
#viewport div.main_container fieldset input[type="checkbox"],
#viewport form.main_container fieldset input[type="checkbox"] {
  margin: 0px;
  margin-right: 12px;
  margin-bottom: 3px;
}
#viewport div.main_container fieldset label,
#viewport form.main_container fieldset label {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  color: #B18A27;
}
#viewport div.main_container fieldset label:hover,
#viewport form.main_container fieldset label:hover {
  cursor: pointer;
}
#viewport div.error {
  color: #ff0000;
  margin: 0px;
  padding: 0px;
  text-align: center;
  margin-bottom: 6px;
  padding: 5px;
}
#main {
  color: #ffffff;
}
#notfound {
  background-color: #300;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  color: #700000;
  margin: 24px;
}
#notfound h1 {
  text-align: center;
  padding: 12px;
  margin: 0;
}
#main_controls {
  margin: 0px !important;
  padding: 0px;
  background-color: #333;
  !important;
}
#main_controls span {
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
  background-color: #4D4D4D;
  display: inline-block;
  padding: 8px;
}
#main_controls a {
  display: inline-block;
  padding: 8px;
}
#main_controls a:hover {
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
  background-color: #424242;
  padding: 8px;
  color: #69B46F;
}
.try_again {
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
}
#main_title {
  height: 96px;
  margin-bottom: 20px;
  background-color: #4D4D4D;
}
#main_title h1 {
  float: left;
}

