@import "compass/css3"; 

@import "grid.scss";


$column-width: 60;
$gutter-width: 1;
$columns: 12;

$total-width: 100%;


/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}



body, html {
	background-color: black; 
}

#viewport {
	form.main_container, div.main_container {
		background-color: #333;
		@include border-radius(6px);
		color: white;
		margin: 12px;
		padding: 10px;
		h1 {
			text-align: center;
			margin: 0;
			color: #B18A27;
			padding: 5px;
			padding-left: 12px;
			font-size: 2em;
			display: inline;
		}
		h2 {
			text-align: center;
		}
		fieldset {
			text-align: center;
			input {
				margin-right: 7px;
				margin-left: 7px;
			}
			input[type="text"], input[type="password"] {
				margin-bottom: 20px;
			}
			input[type="submit"], input[type="button"] {
			    width: 90px;
			}
			input[type="submit"] {
				font-weight: bold;
			}
			input[type="checkbox"] {
				margin: 0px;
				margin-right: 12px;
				margin-bottom: 3px;
			}
			label {
				width: 200px;
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 20px;
				color: #B18A27;
			}
			label:hover {
				cursor: pointer;
			}
		}
	}
	div.error {
		color: red;
		margin: 0px;
		padding: 0px;
		text-align: center;
		margin-bottom: 6px;
		padding: 5px;
	}
}
#main {
	color: white;
	min-width:324px;
}
#notfound {
	background-color: #300;
	@include border-radius(6px);
	color: #700000;
	margin: 24px;
	h1 {
		text-align: center;
		padding: 12px;
		margin: 0;
	}
}

#main_controls {
	white-space: nowrap;
	margin: 0px;
	padding: 0px;
	margin-left: 6px;
	margin-right: 6px;
	background-color: #333; !important;
	span {
		@include border-top-left-radius(6px);
		@include border-top-right-radius(6px);
		background-color: #4D4D4D;
		display: inline-block;
		padding: 6px;
		padding-left: 12px;
		padding-right: 12px;
		font-weight: bold;
		font-size: 1.2em;
	}
	a {
		display: inline-block;
		padding: 6px;
		padding-left: 12px;
		padding-right: 12px;
		font-weight: bold;
		font-size: 1.2em;
	}
	a:hover {
		@include border-top-left-radius(6px);
		@include border-top-right-radius(6px);
		background-color: #3D3D3D;
		color: #69B46F;
	}
}

.try_again {
	text-align: center;
	font-weight: bold;
	font-size: 1.2em;
}

#main_title {
	height: 83px;
	margin-bottom: 10px;
	padding-bottom: 6px;
	h1 {
		float: left;
	}
	#main_info {
		@include border-radius(6px);
		height: 50px;
		background-color: #4D4D4D !important;
		vertical-align: middle;
		ul, li {
			display: inline-block;
			padding: 0px;
			margin: 0px;
			list-style: none;
		}
		li {
			margin-top: 8px;
			margin-left: 4px;
			margin-right: 4px;
			padding: 7px;
			background-color: #646464;
			@include border-radius(6px);

			a {
				color: #69B46F;
				font-weight: bold;
			}
			a:hover {
				color: white;
				text-decoration: none;
			}
		}
		li:hover {
			background-color: #A5A5A5;
			cursor: pointer;
			a {
				color: white;
			}
		}
	}
}

#main_content {
	background-color: #4D4D4D;
	@include border-radius(6px);
	padding: 10px;
	ul {
		margin: 0px;
		list-style: none;
	}

	a {
		color: #69B46F;
	}
	a:hover {
		color: white;
	}
}


#chat {
	#chat_body {
		overflow-y:scroll;
		overflow-x:hidden;
		div {
			padding-left: 4px;
		}
		.time {
			font-size: 0.7em;
			color: #333;
		}
		.username {
			color: #B18A27;
			font-weight: bold;
		}
	}
	.body {
		@include border-radius(6px);
		height:200px;
		background-color: #646464;
		.message {
			opacity: 0;
		}
	}
	.input {
		padding-right:10px;
		padding-left:0px;
		margin-right:2px
		input {
			@include border-radius(6px);
			background-color: #A5A5A5;
			display:block; 
			width:100%;
			padding:6px;
			border-width:0;
			margin: 0px;
			margin-top: 10px;
		}
	}
	.user_list {
		h2 {
			color: #B18A27;
			font-size: 1.8em;
			margin: 0px;
		}
		ul {
			li {
				padding-right:10px;
				padding-left: 0px;
				a {
					@include border-radius(6px);
					background-color: #646464;
					color: #69B46F;
					font-weight:bold;
					width: 100%;
					display: inline-block;
					padding: 5px;
					margin-bottom: 6px;
				}
				a:hover {
					background-color: #A5A5A5;
					color: #FFFFFF;
					text-decoration: none;
				}
			}

			li:last-child {
				a {
					margin-bottom: 0px;
				}
			}
		}

	}
}


// smilies
.emoticon {
  background: url('../images/sprite.png') no-repeat;
  display: inline-block;
  height: 18px;
  margin: 0 1px;
  text-indent: -99999px;
  vertical-align: middle;
  width: 18px;
}
 
.emoticon-grin { background-position: 0 0; }
.emoticon-smile { background-position: -18px 0; }
.emoticon-wink { background-position: -36px 0; }
.emoticon-sad { background-position: -54px 0; }
.emoticon-cheeky { background-position: -72px 0; }




@media screen and (min-width: 485px) {
	#chat_left {
		display:inline;
		float:left;
		width:70%;
		margin: 0px;

	}
	#chat {
		.body {
			height: 286px;
		}
	}
	.user_list{

		display:inline;
		float:left;
		width:30%;
		margin:0px;
		h2 {
			display: none;
		}
		ul {
			li {
				padding-left: 10px !important;
			}
		}
	}
}